/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.format {
  float: left;
  width: 50%;
}
.imageposition {
  padding-left: 20%;
  display: block;
}

.showformat {
  padding-left: 10%;
  display: block;
}

.editform {
  padding-left: 40%;
}

.formfont {
  font-variant: bold;
  font-size: 50px;
}